<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telecom Customer Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2><u> Welcome to the Telecom Customer Management System </u></h2>
  <p><u></u></p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Register New Customer</h3>
      <p> <a href="/register"> Click here for...</a></p>
    </div>
    <div class="col-sm-6">
      <h3>Existing customer</h3>
      <p><a href="/display_customer_table"> Click here for... </a></p>
    </div>

  </div>
</div>

</body>
</html>
